<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>My Recipes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to My Recipes</h1>
    

    <a href="/recipes/new"> Add New Recipe</a>
    <ul class="recipe-list">
      <% if (recipe && recipe.length > 0) { %>
      <% recipe.forEach((recipe) => { %>
      <a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a>
      <!-- Edit link -->
      <a href="/recipes/<%= recipe._id %>/edit">Edit</a>
      <% }) %>
      <% } else { %>
      <p>You have not created any recipes yet.</p>
      <% } %>

    </ul>
  </body>
</html>
